<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

      <div class="container">
        <div class="row card-container">
          <div class="col-7">
            <div class="row card-info shadow">
              <div class="card-info-header">
                <h2> <%= cls.name %>  </h2>
              </div>
              <div class="card-info-inner">
                <h6>Code: <%= cls.code %>  </h6>
                <h6>Studnts: <%= cls.students.length %>  </h6>
              </div>
              <div class="card-info-inner">
                <h6>Stream: <%= cls.stream.toUpperCase() %>  </h6>
                <h6>Department: <%= cls.department.toUpperCase() %>  </h6>
              </div>
              <div class="card-info-inner">
                <h5>By: <%= teacher.name %> </h5>
                <span>
                  <p class="btn btn-sm btn-outline-primary" data-mdb-toggle="modal" data-mdb-target="#updateClass">Edit</p>
                  <button class="btn btn-sm btn-outline-primary ms-4"onclick="copy_code()">Joining Code</button>
                  <form action="/teacher/class/<%=cls._id%>/delete?_method=delete"method="POST" onsubmit="return confirm('Do yo really want to delete class?');">
                    <button 
                      type="submit" 
                      class="btn btn-sm btn-danger ms-4" 
                    > Delete </button>
                  </form>
                </span>
                
              </div>
            </div>
            <div class="row card-attendance">
              <div class="row card-attendance-left shadow">
                
                <div data-mdb-toggle="modal" data-mdb-target="#takeAttendance">
                  <h4>Take Attendance</h4>
                  <i class="far fa-address-card"></i>
                </div>
              </div>
              <div class="row card-attendance-right shadow">
                <h4>Generate Report</h4>
                <form action="">
                  <input type="date" id="from-date" name="from-date" class="form-control" />
                  <p>TO</p>
                  <input type="date" id="to-date" name="to-date" class="form-control" />
                  <button type="submit" class="btn btn-primary">GO</button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="row students-list shadow">
              <div class="students-header">
                <h4>Students</h4>
                <h4>Attendance</h4>
              </div>

              <% students.forEach(student => { %>
                <div class="students-info" id="<%= student.id %> ">
                  <p><%= student.name %></p>
                  <p><%= student.attendance %>%</p>
                </div>
              <% }); %>

              
              <div class="students-info">
                <p>Tony Stark </p>
                <p>74%</p>
              </div>
              <div class="students-info">
                <p>Steve Rogers</p>
                <p>31%</p>
              </div>
              <div class="students-info">
                <p>Chris Evans</p>
                <p>57%</p>
              </div>
              <div class="students-info">
                <p>Harry Potter</p>
                <p>33%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    <!-- Edit Class Popup -->
    <div
      class="modal fade"
      id="updateClass"
      tabindex="-1"
      aria-labelledby="updateClassLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateClassLabel">Edit Class</h5>
            <button
              type="button"
              class="btn-close"
              data-mdb-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">

            <form action="/teacher/class/<%=cls._id%>/edit?_method=put" method="POST">
              <div class="form-outline mb-4">
                <input type="text" id="create-name" name="name" class="form-control" value="<%=cls.name%>" required/>
                <label class="form-label" for="create-name">Class Name</label>
              </div> 
              <div class="form-outline mb-4">
                <input type="text" id="create-code" name="code" class="form-control" value="<%=cls.code%>" required/>
                <label class="form-label" for="create-code">Class Code</label>
              </div>
              <div class="form-outline mb-4">  
                <select id="create-stream" name="stream" class="form-control" value="<%=cls.stream%>"required>
                    <option value=""disabled >Stream</option>
                    <option value="mca">MCA</option>
                    <option value="btech">BTech</option>
                    <option value="mtech">MTech</option>
                    <option value="msc">MSC</option>
                    <option value="mba">MBA</option>
                </select>
              <div class="form-notch"><div class="form-notch-leading"></div><div class="form-notch-middle"></div><div class="form-notch-trailing"></div></div></div>
              
              <div class="form-outline mb-4">
                <select id="create-department" name="department" class="form-control" value="<%=cls.department%>"required>
                    <option value=""disabled >Department</option>
                    <option value="csed">CSED</option>
                    <option value="ece">ECE</option>
                    <option value="ee">EE</option>
                    <option value="eee">EEE</option>
                    <option value="mechanical">Mechanical</option>
                    <option value="civil">Civil</option>
                    <option value="maths">Maths</option>
                    <option value="na">NA</option>
                </select>
              <div class="form-notch"><div class="form-notch-leading"></div><div class="form-notch-middle"></div><div class="form-notch-trailing"></div></div></div>
              
              <button type="submit" class="btn btn-primary">Update</button>
            </form>

          </div>
        </div>
      </div>
    </div>

    <!-- Attendance Popup -->
    <div
      class="modal fade"
      id="takeAttendance"
      tabindex="-1"
      aria-labelledby="takeAttendanceLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="takeAttendanceLabel">Take Attendance</h5>
            <button
              type="button"
              class="btn-close"
              data-mdb-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">

            <form action="">
              <div class="mb-4">
                <label for="attendance-date">Date</label>
                <input type="date" id="attendance-date" name="date" class="form-control" />
              </div>
            
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>

          </div>
        </div>
      </div>
    </div>
      
    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.js"
    ></script>
    <script>
      function copy_code()
      {
        var currentURL = window.location;
       var chars = currentURL.href.substr(-24);
        alert(chars); // 12

       // var url=document.getElementById("demo").innerHTML =  window.location.href;
        //var copyText = document.getElementById("chars");
        var dummy = document.createElement('input'),
         text = chars;
        document.body.appendChild(dummy);
        dummy.value = chars;
        dummy.select();
        document.execCommand('copy');
        document.body.removeChild(dummy);
        alert('Link copied please open whatsup and paste to send');



      }
    </script>
<%- include("../partials/footer") %>